<div class="container mt-4">
    <h1 class="mb-4">Medicine Catalog</h1>
  
    <div class="row">
      <!-- Medicine Card 1 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="../../../assets/images/m1.jpeg" class="card-img-top" alt="Medicine 1">
          <div class="card-body">
            <h5 class="card-title">Medicine 1</h5>
            <p class="card-text">Description of Medicine 1.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
  
      <!-- Medicine Card 2 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="../../../assets/images/m5.jpeg" class="card-img-top" alt="Medicine 2">
          <div class="card-body">
            <h5 class="card-title">Medicine 2</h5>
            <p class="card-text">Description of Medicine 2.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
  
      <!-- Medicine Card 3 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="../../../assets/images/m3.jpeg" class="card-img-top" alt="Medicine 3">
          <div class="card-body">
            <h5 class="card-title">Medicine 3</h5>
            <p class="card-text">Description of Medicine 3.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
  
      <!-- Medicine Card 4 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="../../../assets/images/m4.jpeg" class="card-img-top" alt="Medicine 4">
          <div class="card-body">
            <h5 class="card-title">Medicine 4</h5>
            <p class="card-text">Description of Medicine 4.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Add more rows of medicine cards as needed -->
  
  </div>